Repository Parthian-Sunrise/udacity-ds-project-blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, nbstripout

black:
  name: black
  entry: black
  language: system
  additional_dependencies: []
  args:
  - --line-length=88

flake8:
  name: flake8
  entry: flake8
  language: system
  additional_dependencies: []
  args:
  - --max-line-length=1600
  - --ignore=W293

nbstripout:
  name: Strip output from Jupyter notebooks
  entry: nbstripout
  language: system
  additional_dependencies: []

feat: added pre-commit
  requirements.txt
Due: none

feat: extra reqs
  requirements.txt
Due: none

feat: new reqs
  requirements.txt
Due: none

feat: source script to check root directory
  src/utils.py
  src/utils.py:Zone.Identifier
Due: black, flake8

feat: initial eda notebook
  notebooks/01_eda.ipynb
Due: nbstripout

Create README.md
  README.md
Due: none

feat: questions for project
  questions/questions.py
Due: black, flake8

Create README.md
  data/README.md
Due: none

Update README.md
  data/README.md
Due: none

feat: additional eda and commenting
  notebooks/01_eda.ipynb
Due: nbstripout

feat: beginning to answer questions
  notebooks/01_eda.ipynb
  requirements.txt
Due: nbstripout

feat: finished questions
  notebooks/01_eda.ipynb
  requirements.txt
Due: nbstripout

feat: updated notebook
  notebooks/01_eda.ipynb
Due: nbstripout

feat: renamed and added extra cells to produce plots/results for medium
  notebooks/01_blog_project.ipynb
Due: nbstripout

Update README.md with blog link
  README.md
Due: none

feat: notebook with outputs
  notebooks/01_blog_project.ipynb
Due: nbstripout

feat: notebook updated to reflect reviewers' comments
  notebooks/01_blog_project.ipynb
Due: nbstripout

feat: additional dask requirement for smooth running (memory issues), changes to wording of the questions
  questions/questions.py
  requirements.txt
Due: black, flake8

Update README.md
  README.md
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  nbstripout: any of: \.ipynb$
